<%- include('../common/header') %>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <%- include('../common/sidebar') %>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <%- include('../common/navbar') %>
      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper border-top">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row g-6">
            <!-- Cards with few info -->
            <div class="col-lg-3 col-sm-6">
              <div
                class="card transparent-card bg-transparent shadow-none border-1"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-2">
                      <div class="avatar-initial rounded shadow-xs">
                        <i class="ri-group-line ri-24px text-primary"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <p class="mb-0">New Customers</p>
                      <div class="d-flex align-items-center">
                        <h5 class="mb-0">2,856</h5>
                        <i class="ri-arrow-down-s-line ri-24px text-danger"></i>
                        <small class="text-danger">10.2%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="card transparent-card bg-transparent shadow-none border-1"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-2">
                      <div class="avatar-initial rounded shadow-xs">
                        <i
                          class="ri-money-dollar-circle-line ri-24px text-success"
                        ></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <p class="mb-0">Total Revenue</p>
                      <div class="d-flex align-items-center">
                        <h5 class="mb-0">28.6K</h5>
                        <i class="ri-arrow-up-s-line ri-24px text-success"></i>
                        <small class="text-success">25.8%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="card transparent-card bg-transparent shadow-none border-1"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-2">
                      <div class="avatar-initial rounded shadow-xs">
                        <i class="ri-pie-chart-2-line ri-24px text-info"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <p class="mb-0">New Transactions</p>
                      <div class="d-flex align-items-center">
                        <h5 class="mb-0">16.6k</h5>
                        <i class="ri-arrow-down-s-line ri-24px text-danger"></i>
                        <small class="text-danger">12.1%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="card transparent-card bg-transparent shadow-none border-1"
              >
                <div class="card-body">
                  <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-2">
                      <div class="avatar-initial rounded shadow-xs">
                        <i class="ri-pie-chart-2-line ri-24px text-warning"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <p class="mb-0">Total Profit</p>
                      <div class="d-flex align-items-center">
                        <h5 class="mb-0">2,856</h5>
                        <i class="ri-arrow-up-s-line ri-24px text-success"></i>
                        <small class="text-success">54.6%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Cards with few info -->

            <!-- Cards with separator -->
            <div class="col-12">
              <div class="card">
                <div class="card-widget-separator-wrapper">
                  <div class="card-body card-widget-separator">
                    <div class="row gy-4 gy-sm-1">
                      <div class="col-sm-6 col-lg-3">
                        <div
                          class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0"
                        >
                          <div>
                            <h4 class="mb-0">24</h4>
                            <p class="mb-0">Clients</p>
                          </div>
                          <div class="avatar me-sm-6">
                            <span
                              class="avatar-initial rounded bg-label-secondary"
                            >
                              <i class="ri-user-line text-heading ri-26px"></i>
                            </span>
                          </div>
                        </div>
                        <hr class="d-none d-sm-block d-lg-none me-6" />
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <div
                          class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0"
                        >
                          <div>
                            <h4 class="mb-0">165</h4>
                            <p class="mb-0">Invoices</p>
                          </div>
                          <div class="avatar me-lg-6">
                            <span
                              class="avatar-initial rounded bg-label-secondary"
                            >
                              <i class="ri-pages-line text-heading ri-26px"></i>
                            </span>
                          </div>
                        </div>
                        <hr class="d-none d-sm-block d-lg-none" />
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <div
                          class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3"
                        >
                          <div>
                            <h4 class="mb-0">$2.46k</h4>
                            <p class="mb-0">Paid</p>
                          </div>
                          <div class="avatar me-sm-6">
                            <span
                              class="avatar-initial rounded bg-label-secondary"
                            >
                              <i
                                class="ri-wallet-line text-heading ri-26px"
                              ></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <div
                          class="d-flex justify-content-between align-items-start"
                        >
                          <div>
                            <h4 class="mb-0">$876</h4>
                            <p class="mb-0">Unpaid</p>
                          </div>
                          <div class="avatar">
                            <span
                              class="avatar-initial rounded bg-label-secondary"
                            >
                              <i
                                class="ri-money-dollar-circle-line text-heading ri-26px"
                              ></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Cards with separator -->

            <!-- Card Border Shadow -->
            <div class="col-sm-6 col-lg-3">
              <div class="card card-border-shadow-primary h-100">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar me-4">
                      <span class="avatar-initial rounded bg-label-primary"
                        ><i class="ri-car-line ri-24px"></i
                      ></span>
                    </div>
                    <h4 class="mb-0">42</h4>
                  </div>
                  <h6 class="mb-0 fw-normal">On route vehicles</h6>
                  <p class="mb-0">
                    <span class="me-1 fw-medium">+18.2%</span>
                    <small class="text-muted">than last week</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card card-border-shadow-warning h-100">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar me-4">
                      <span class="avatar-initial rounded bg-label-warning"
                        ><i class="ri-alert-line ri-24px"></i
                      ></span>
                    </div>
                    <h4 class="mb-0">8</h4>
                  </div>
                  <h6 class="mb-0 fw-normal">Vehicles with errors</h6>
                  <p class="mb-0">
                    <span class="me-1 fw-medium">-8.7%</span>
                    <small class="text-muted">than last week</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card card-border-shadow-danger h-100">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar me-4">
                      <span class="avatar-initial rounded bg-label-danger"
                        ><i class="ri-route-line ri-24px"></i
                      ></span>
                    </div>
                    <h4 class="mb-0">27</h4>
                  </div>
                  <h6 class="mb-0 fw-normal">Deviated from route</h6>
                  <p class="mb-0">
                    <span class="me-1 fw-medium">+4.3%</span>
                    <small class="text-muted">than last week</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card card-border-shadow-info h-100">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <div class="avatar me-4">
                      <span class="avatar-initial rounded bg-label-info"
                        ><i class="ri-time-line ri-24px"></i
                      ></span>
                    </div>
                    <h4 class="mb-0">13</h4>
                  </div>
                  <h6 class="mb-0 fw-normal">Late vehicles</h6>
                  <p class="mb-0">
                    <span class="me-1 fw-medium">-2.5%</span>
                    <small class="text-muted">than last week</small>
                  </p>
                </div>
              </div>
            </div>
            <!--/ Card Border Shadow -->

            <!-- Transactions -->
            <div class="col-xl-8">
              <div class="card">
                <div class="card-header">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <h5 class="card-title m-0 me-2">Transactions</h5>
                    <div class="dropdown">
                      <button
                        class="btn text-muted p-0"
                        type="button"
                        id="transactionID"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="ri-more-2-line ri-24px"></i>
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="transactionID"
                      >
                        <a
                          class="dropdown-item waves-effect"
                          href="javascript:void(0);"
                          >Refresh</a
                        >
                        <a
                          class="dropdown-item waves-effect"
                          href="javascript:void(0);"
                          >Share</a
                        >
                        <a
                          class="dropdown-item waves-effect"
                          href="javascript:void(0);"
                          >Update</a
                        >
                      </div>
                    </div>
                  </div>
                  <p class="small mb-0">
                    <span class="h6 mb-0">Total 48.5% Growth</span> 😎 this
                    month
                  </p>
                </div>
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-md-3 col-6">
                      <div class="d-flex align-items-center">
                        <div class="avatar">
                          <div
                            class="avatar-initial bg-primary rounded shadow-xs"
                          >
                            <i class="ri-pie-chart-2-line ri-24px"></i>
                          </div>
                        </div>
                        <div class="ms-3">
                          <p class="mb-0">Sales</p>
                          <h5 class="mb-0">245k</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-6">
                      <div class="d-flex align-items-center">
                        <div class="avatar">
                          <div
                            class="avatar-initial bg-success rounded shadow-xs"
                          >
                            <i class="ri-group-line ri-24px"></i>
                          </div>
                        </div>
                        <div class="ms-3">
                          <p class="mb-0">Customers</p>
                          <h5 class="mb-0">12.5k</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-6">
                      <div class="d-flex align-items-center">
                        <div class="avatar">
                          <div
                            class="avatar-initial bg-warning rounded shadow-xs"
                          >
                            <i class="ri-macbook-line ri-24px"></i>
                          </div>
                        </div>
                        <div class="ms-3">
                          <p class="mb-0">Product</p>
                          <h5 class="mb-0">1.54k</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-6">
                      <div class="d-flex align-items-center">
                        <div class="avatar">
                          <div class="avatar-initial bg-info rounded shadow-xs">
                            <i class="ri-money-dollar-circle-line ri-24px"></i>
                          </div>
                        </div>
                        <div class="ms-3">
                          <p class="mb-0">Revenue</p>
                          <h5 class="mb-0">$88k</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Transactions -->

            <!-- Total Sales -->
            <div class="col-xl-4 col-lg-6">
              <div class="card h-100">
                <div
                  class="card-body d-flex justify-content-between align-items-center flex-wrap"
                  style="position: relative"
                >
                  <div class="me-3">
                    <h5 class="mb-1">Total Sales</h5>
                    <p class="mb-3">Calculated in last 7 days</p>
                    <div class="d-flex align-items-center">
                      <h4 class="mb-0 me-1">$25,980</h4>
                      <p class="text-success mb-0">
                        <i class="ri-arrow-up-s-line ri-24px"></i>15.6%
                      </p>
                    </div>
                  </div>
                  <div
                    id="totalSalesDonutChart"
                    class="mt-3 mt-md-0"
                    style="min-height: 96.55px"
                  >
                    <div
                      id="apexchartslm021bhd"
                      class="apexcharts-canvas apexchartslm021bhd apexcharts-theme-light"
                      style="width: 110px; height: 96.55px"
                    >
                      <svg
                        id="SvgjsSvg1900"
                        width="110"
                        height="96.55"
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.dev"
                        class="apexcharts-svg"
                        xmlns:data="ApexChartsNS"
                        transform="translate(0, 0)"
                        style="background: transparent"
                      >
                        <g
                          id="SvgjsG1902"
                          class="apexcharts-inner apexcharts-graphical"
                          transform="translate(-5, -10)"
                        >
                          <defs id="SvgjsDefs1901">
                            <clipPath id="gridRectMasklm021bhd">
                              <rect
                                id="SvgjsRect1904"
                                width="129"
                                height="120"
                                x="-4.5"
                                y="-2.5"
                                rx="0"
                                ry="0"
                                opacity="1"
                                stroke-width="0"
                                stroke="none"
                                stroke-dasharray="0"
                                fill="#fff"
                              ></rect>
                            </clipPath>
                            <clipPath id="forecastMasklm021bhd"></clipPath>
                            <clipPath id="nonForecastMasklm021bhd"></clipPath>
                            <clipPath id="gridRectMarkerMasklm021bhd">
                              <rect
                                id="SvgjsRect1905"
                                width="124"
                                height="119"
                                x="-2"
                                y="-2"
                                rx="0"
                                ry="0"
                                opacity="1"
                                stroke-width="0"
                                stroke="none"
                                stroke-dasharray="0"
                                fill="#fff"
                              ></rect>
                            </clipPath>
                          </defs>
                          <g id="SvgjsG1906" class="apexcharts-pie">
                            <g
                              id="SvgjsG1907"
                              transform="translate(0, 0) scale(1)"
                            >
                              <circle
                                id="SvgjsCircle1908"
                                r="35.32317073170732"
                                cx="60"
                                cy="57.5"
                                fill="transparent"
                              ></circle>
                              <g id="SvgjsG1909" class="apexcharts-slices">
                                <g
                                  id="SvgjsG1910"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="Comments"
                                  rel="1"
                                  data:realIndex="0"
                                >
                                  <path
                                    id="SvgjsPath1911"
                                    d="M 60 10.40243902439024 A 47.09756097560976 47.09756097560976 0 0 1 74.55394673507375 102.292442267462 L 70.9154600513053 91.09433170059648 A 35.32317073170732 35.32317073170732 0 0 0 60 22.17682926829268 L 60 10.40243902439024 z"
                                    fill="rgba(140,87,255,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="5"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-0"
                                    index="0"
                                    j="0"
                                    data:angle="162"
                                    data:startAngle="0"
                                    data:strokeWidth="5"
                                    data:value="45"
                                    data:pathOrig="M 60 10.40243902439024 A 47.09756097560976 47.09756097560976 0 0 1 74.55394673507375 102.292442267462 L 70.9154600513053 91.09433170059648 A 35.32317073170732 35.32317073170732 0 0 0 60 22.17682926829268 L 60 10.40243902439024 z"
                                    stroke="#312d4b"
                                  ></path>
                                </g>
                                <g
                                  id="SvgjsG1912"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="Replies"
                                  rel="2"
                                  data:realIndex="1"
                                >
                                  <path
                                    id="SvgjsPath1913"
                                    d="M 74.55394673507375 102.292442267462 A 47.09756097560976 47.09756097560976 0 0 1 45.44605326492626 102.292442267462 L 49.0845399486947 91.0943317005965 A 35.32317073170732 35.32317073170732 0 0 0 70.9154600513053 91.09433170059648 L 74.55394673507375 102.292442267462 z"
                                    fill="rgba(22,177,255,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="5"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-1"
                                    index="0"
                                    j="1"
                                    data:angle="36"
                                    data:startAngle="162"
                                    data:strokeWidth="5"
                                    data:value="10"
                                    data:pathOrig="M 74.55394673507375 102.292442267462 A 47.09756097560976 47.09756097560976 0 0 1 45.44605326492626 102.292442267462 L 49.0845399486947 91.0943317005965 A 35.32317073170732 35.32317073170732 0 0 0 70.9154600513053 91.09433170059648 L 74.55394673507375 102.292442267462 z"
                                    stroke="#312d4b"
                                  ></path>
                                </g>
                                <g
                                  id="SvgjsG1914"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="Shares"
                                  rel="3"
                                  data:realIndex="2"
                                >
                                  <path
                                    id="SvgjsPath1915"
                                    d="M 45.44605326492626 102.292442267462 A 47.09756097560976 47.09756097560976 0 0 1 13.273817360042521 63.40288961006517 L 24.95536302003189 61.92716720754888 A 35.32317073170732 35.32317073170732 0 0 0 49.0845399486947 91.0943317005965 L 45.44605326492626 102.292442267462 z"
                                    fill="rgba(255,180,0,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="5"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-2"
                                    index="0"
                                    j="2"
                                    data:angle="64.80000000000001"
                                    data:startAngle="198"
                                    data:strokeWidth="5"
                                    data:value="18"
                                    data:pathOrig="M 45.44605326492626 102.292442267462 A 47.09756097560976 47.09756097560976 0 0 1 13.273817360042521 63.40288961006517 L 24.95536302003189 61.92716720754888 A 35.32317073170732 35.32317073170732 0 0 0 49.0845399486947 91.0943317005965 L 45.44605326492626 102.292442267462 z"
                                    stroke="#312d4b"
                                  ></path>
                                </g>
                                <g
                                  id="SvgjsG1916"
                                  class="apexcharts-series apexcharts-pie-series"
                                  seriesName="seriesx4"
                                  rel="4"
                                  data:realIndex="3"
                                >
                                  <path
                                    id="SvgjsPath1917"
                                    d="M 13.273817360042521 63.40288961006517 A 47.09756097560976 47.09756097560976 0 0 1 59.99177992495489 10.402439741727115 L 59.993834943716166 22.17682980629533 A 35.32317073170732 35.32317073170732 0 0 0 24.95536302003189 61.92716720754888 L 13.273817360042521 63.40288961006517 z"
                                    fill="rgba(255,76,81,1)"
                                    fill-opacity="1"
                                    stroke-opacity="1"
                                    stroke-linecap="butt"
                                    stroke-width="5"
                                    stroke-dasharray="0"
                                    class="apexcharts-pie-area apexcharts-donut-slice-3"
                                    index="0"
                                    j="3"
                                    data:angle="97.19999999999999"
                                    data:startAngle="262.8"
                                    data:strokeWidth="5"
                                    data:value="27"
                                    data:pathOrig="M 13.273817360042521 63.40288961006517 A 47.09756097560976 47.09756097560976 0 0 1 59.99177992495489 10.402439741727115 L 59.993834943716166 22.17682980629533 A 35.32317073170732 35.32317073170732 0 0 0 24.95536302003189 61.92716720754888 L 13.273817360042521 63.40288961006517 z"
                                    stroke="#312d4b"
                                  ></path>
                                </g>
                              </g>
                            </g>
                            <g
                              id="SvgjsG1918"
                              class="apexcharts-datalabels-group"
                              transform="translate(0, 0) scale(1)"
                            >
                              <text
                                id="SvgjsText1919"
                                font-family="Helvetica, Arial, sans-serif"
                                x="60"
                                y="75.5"
                                text-anchor="middle"
                                dominant-baseline="auto"
                                font-size="0.75rem"
                                font-weight="400"
                                fill="#b0acc7"
                                class="apexcharts-text apexcharts-datalabel-label"
                                style="
                                  font-family: Helvetica, Arial, sans-serif;
                                "
                              >
                                1 Quarter
                              </text>
                              <text
                                id="SvgjsText1920"
                                font-family="Inter"
                                x="60"
                                y="55.5"
                                text-anchor="middle"
                                dominant-baseline="auto"
                                font-size="1.15rem"
                                font-weight="500"
                                fill="#d5d1ea"
                                class="apexcharts-text apexcharts-datalabel-value"
                                style="font-family: Inter"
                              >
                                28%
                              </text>
                            </g>
                          </g>
                          <line
                            id="SvgjsLine1921"
                            x1="0"
                            y1="0"
                            x2="120"
                            y2="0"
                            stroke="#b6b6b6"
                            stroke-dasharray="0"
                            stroke-width="1"
                            stroke-linecap="butt"
                            class="apexcharts-ycrosshairs"
                          ></line>
                          <line
                            id="SvgjsLine1922"
                            x1="0"
                            y1="0"
                            x2="120"
                            y2="0"
                            stroke-dasharray="0"
                            stroke-width="0"
                            stroke-linecap="butt"
                            class="apexcharts-ycrosshairs-hidden"
                          ></line>
                        </g>
                        <g id="SvgjsG1903" class="apexcharts-annotations"></g>
                      </svg>
                      <div class="apexcharts-legend"></div>
                      <div class="apexcharts-tooltip apexcharts-theme-dark">
                        <div
                          class="apexcharts-tooltip-series-group"
                          style="order: 1"
                        >
                          <span
                            class="apexcharts-tooltip-marker"
                            style="background-color: rgb(140, 87, 255)"
                          ></span>
                          <div
                            class="apexcharts-tooltip-text"
                            style="
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 12px;
                            "
                          >
                            <div class="apexcharts-tooltip-y-group">
                              <span
                                class="apexcharts-tooltip-text-y-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-y-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-goals-group">
                              <span
                                class="apexcharts-tooltip-text-goals-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-goals-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-z-group">
                              <span
                                class="apexcharts-tooltip-text-z-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-z-value"
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="apexcharts-tooltip-series-group"
                          style="order: 2"
                        >
                          <span
                            class="apexcharts-tooltip-marker"
                            style="background-color: rgb(22, 177, 255)"
                          ></span>
                          <div
                            class="apexcharts-tooltip-text"
                            style="
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 12px;
                            "
                          >
                            <div class="apexcharts-tooltip-y-group">
                              <span
                                class="apexcharts-tooltip-text-y-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-y-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-goals-group">
                              <span
                                class="apexcharts-tooltip-text-goals-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-goals-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-z-group">
                              <span
                                class="apexcharts-tooltip-text-z-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-z-value"
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="apexcharts-tooltip-series-group"
                          style="order: 3"
                        >
                          <span
                            class="apexcharts-tooltip-marker"
                            style="background-color: rgb(255, 180, 0)"
                          ></span>
                          <div
                            class="apexcharts-tooltip-text"
                            style="
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 12px;
                            "
                          >
                            <div class="apexcharts-tooltip-y-group">
                              <span
                                class="apexcharts-tooltip-text-y-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-y-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-goals-group">
                              <span
                                class="apexcharts-tooltip-text-goals-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-goals-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-z-group">
                              <span
                                class="apexcharts-tooltip-text-z-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-z-value"
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="apexcharts-tooltip-series-group"
                          style="order: 4"
                        >
                          <span
                            class="apexcharts-tooltip-marker"
                            style="background-color: rgb(255, 76, 81)"
                          ></span>
                          <div
                            class="apexcharts-tooltip-text"
                            style="
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 12px;
                            "
                          >
                            <div class="apexcharts-tooltip-y-group">
                              <span
                                class="apexcharts-tooltip-text-y-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-y-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-goals-group">
                              <span
                                class="apexcharts-tooltip-text-goals-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-goals-value"
                              ></span>
                            </div>
                            <div class="apexcharts-tooltip-z-group">
                              <span
                                class="apexcharts-tooltip-text-z-label"
                              ></span
                              ><span
                                class="apexcharts-tooltip-text-z-value"
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="resize-triggers">
                    <div class="expand-trigger">
                      <div style="width: 362px; height: 160px"></div>
                    </div>
                    <div class="contract-trigger"></div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Total Sales -->

            <!-- Cards with icon profit and loss info -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="card">
                <div
                  class="card-header d-flex align-items-center justify-content-between"
                >
                  <div class="avatar">
                    <div
                      class="avatar-initial bg-primary rounded-circle shadow-xs"
                    >
                      <i class="ri-file-word-2-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn text-muted p-0"
                      type="button"
                      id="newProjectID"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ri-more-2-line ri-24px"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="newProjectID"
                    >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Refresh</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Share</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Update</a
                      >
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-1">New Project</h6>
                  <div class="d-flex flex-wrap mb-1 align-items-center">
                    <h4 class="mb-0 me-2">862</h4>
                    <p class="text-danger mb-0">-18%</p>
                  </div>
                  <small>Yearly Project</small>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="card">
                <div
                  class="card-header d-flex align-items-center justify-content-between"
                >
                  <div class="avatar">
                    <div
                      class="avatar-initial bg-secondary rounded-circle shadow-xs"
                    >
                      <i class="ri-pie-chart-2-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn text-muted p-0"
                      type="button"
                      id="totalProfitID"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ri-more-2-line ri-24px"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="totalProfitID"
                    >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Refresh</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Share</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Update</a
                      >
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-1">Total Profit</h6>
                  <div class="d-flex flex-wrap mb-1 align-items-center">
                    <h4 class="mb-0 me-2">$25.6k</h4>
                    <p class="text-success mb-0">+42%</p>
                  </div>
                  <small>Weekly Project</small>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="card">
                <div
                  class="card-header d-flex align-items-center justify-content-between"
                >
                  <div class="avatar">
                    <div
                      class="avatar-initial bg-success rounded-circle shadow-xs"
                    >
                      <i class="ri-money-dollar-circle-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn text-muted p-0"
                      type="button"
                      id="revenueID"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ri-more-2-line ri-24px"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="revenueID"
                    >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Refresh</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Share</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Update</a
                      >
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-1">Revenue</h6>
                  <div class="d-flex flex-wrap mb-1 align-items-center">
                    <h4 class="mb-0 me-2">$95.2k</h4>
                    <p class="text-success mb-0">+12%</p>
                  </div>
                  <small>Revenue Increase</small>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="card">
                <div
                  class="card-header d-flex align-items-center justify-content-between"
                >
                  <div class="avatar">
                    <div
                      class="avatar-initial bg-danger rounded-circle shadow-xs"
                    >
                      <i class="ri-car-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn text-muted p-0"
                      type="button"
                      id="logisticsID"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ri-more-2-line ri-24px"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="logisticsID"
                    >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Refresh</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Share</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Update</a
                      >
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-1">Logistics</h6>
                  <div class="d-flex flex-wrap mb-1 align-items-center">
                    <h4 class="mb-0 me-2">44.10k</h4>
                    <p class="text-success mb-0">+42%</p>
                  </div>
                  <small>Regional Logistics</small>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="card">
                <div
                  class="card-header d-flex align-items-center justify-content-between"
                >
                  <div class="avatar">
                    <div
                      class="avatar-initial bg-warning rounded-circle shadow-xs"
                    >
                      <i class="ri-file-chart-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn text-muted p-0"
                      type="button"
                      id="reportsID"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ri-more-2-line ri-24px"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="reportsID"
                    >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Refresh</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Share</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Update</a
                      >
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-1">Reports</h6>
                  <div class="d-flex flex-wrap mb-1 align-items-center">
                    <h4 class="mb-0 me-2">268</h4>
                    <p class="text-danger mb-0">-28%</p>
                  </div>
                  <small>System Bugs</small>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="card">
                <div
                  class="card-header d-flex align-items-center justify-content-between"
                >
                  <div class="avatar">
                    <div
                      class="avatar-initial bg-info rounded-circle shadow-xs"
                    >
                      <i class="ri-bank-card-line ri-24px"></i>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn text-muted p-0"
                      type="button"
                      id="transactionsID"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ri-more-2-line ri-24px"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="transactionsID"
                    >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Refresh</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Share</a
                      >
                      <a
                        class="dropdown-item waves-effect"
                        href="javascript:void(0);"
                        >Update</a
                      >
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-1">Transactions</h6>
                  <div class="d-flex flex-wrap mb-1 align-items-center">
                    <h4 class="mb-0 me-2">1.2k</h4>
                    <p class="text-success mb-0">+38%</p>
                  </div>
                  <small>Daily Transactions</small>
                </div>
              </div>
            </div>
            <!--/ Cards with icon profit and loss info -->
          </div>
        </div>
        <!-- / Content -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<%- include('../common/footer') %>
